PrintCG1_24062016_05(3)/PrintCG1_24062016_05/PrintCG_24062016/Service References/SGPService/SGPService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SGPWebService.DB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SGPWebService.DB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBS_Province">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BS_Province" nillable="true" type="tns:BS_Province" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBS_Province" nillable="true" type="tns:ArrayOfBS_Province" />
  <xs:complexType name="BS_Province">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PhoneCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BS_Province" nillable="true" type="tns:BS_Province" />
</xs:schema>