PrintCG1_24062016_05(3)/PrintCG1_24062016_05/PrintCG_24062016/Service References/SGPService/SGPService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SGPWebService.DataClass" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SGPWebService.DataClass" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfZoneList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZoneList" nillable="true" type="tns:ZoneList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZoneList" nillable="true" type="tns:ArrayOfZoneList" />
  <xs:complexType name="ZoneList">
    <xs:sequence>
      <xs:element minOccurs="0" name="ZoneID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZoneList" nillable="true" type="tns:ZoneList" />
</xs:schema>