PrintCG1_24062016_05(3)/PrintCG1_24062016_05/PrintCG_24062016/Service References/SGPService/SGPService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4351/SGPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGPWebService.DB" />
  <xs:import schemaLocation="http://localhost:4351/SGPService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SGPWebService.DataClass" />
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="post" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getmaxMailerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postoffice" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getmaxMailerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getmaxMailerIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProvince">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SGPWebService.DB" minOccurs="0" name="getProvinceResult" nillable="true" type="q1:ArrayOfBS_Province" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertSGP_Province_Zones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ZoneID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProvinceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Zone" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertSGP_Province_ZonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertSGP_Province_ZonesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SGPWebService.DB" minOccurs="0" name="getServiceTypeResult" nillable="true" type="q2:ArrayOfMM_ServiceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostOfficeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SGPWebService.DB" minOccurs="0" name="getCustomerResult" nillable="true" type="q3:ArrayOfMM_Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getZoneList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getZoneListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SGPWebService.DataClass" minOccurs="0" name="getZoneListResult" nillable="true" type="q4:ArrayOfZoneList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getmaxZone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ZoneID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getmaxZoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getmaxZoneResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertSGP_Price_Policy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PriceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PostOfficeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Status" type="xs:int" />
        <xs:element minOccurs="0" name="Service" type="xs:int" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ZoneID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CalPrice" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertSGP_Price_PolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertSGP_Price_PolicyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertSGP_Price_Customer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PriceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertSGP_Price_CustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertSGP_Price_CustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertSGP_Price_Service">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PriceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ServiceID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertSGP_Price_ServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertSGP_Price_ServiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertSGP_Price_Value">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PriceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FW" type="xs:float" />
        <xs:element minOccurs="0" name="TW" type="xs:float" />
        <xs:element minOccurs="0" name="Zone" type="xs:int" />
        <xs:element minOccurs="0" name="Price" type="xs:float" />
        <xs:element minOccurs="0" name="CalType" type="xs:int" />
        <xs:element minOccurs="0" name="RowIndex" type="xs:int" />
        <xs:element minOccurs="0" name="ColumnIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertSGP_Price_ValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertSGP_Price_ValueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>