PrintCG1_24062016_05(3)/PrintCG1_24062016_05/PrintCG_24062016/Service References/SGPService/SGPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SGPService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4351/SGPService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4351/SGPService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4351/SGPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGPWebService.DB" />
      <xsd:import schemaLocation="http://localhost:4351/SGPService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SGPWebService.DataClass" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISGPService_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="ISGPService_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getmaxMailerID_InputMessage">
    <wsdl:part name="parameters" element="tns:getmaxMailerID" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getmaxMailerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getmaxMailerIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getProvince_InputMessage">
    <wsdl:part name="parameters" element="tns:getProvince" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getProvince_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProvinceResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Province_Zones_InputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Province_Zones" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Province_Zones_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Province_ZonesResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getServiceType_InputMessage">
    <wsdl:part name="parameters" element="tns:getServiceType" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getServiceType_OutputMessage">
    <wsdl:part name="parameters" element="tns:getServiceTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:getCustomer" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getZoneList_InputMessage">
    <wsdl:part name="parameters" element="tns:getZoneList" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getZoneList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getZoneListResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getmaxZone_InputMessage">
    <wsdl:part name="parameters" element="tns:getmaxZone" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getmaxZone_OutputMessage">
    <wsdl:part name="parameters" element="tns:getmaxZoneResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Price_Policy_InputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Price_Policy" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Price_Policy_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Price_PolicyResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Price_Customer_InputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Price_Customer" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Price_Customer_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Price_CustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Price_Service_InputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Price_Service" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Price_Service_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Price_ServiceResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Price_Value_InputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Price_Value" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Price_Value_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Price_ValueResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPricePolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:getPricePolicy" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPricePolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPricePolicyResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPriceCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:getPriceCustomer" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPriceCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPriceCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPriceService_InputMessage">
    <wsdl:part name="parameters" element="tns:getPriceService" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPriceService_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPriceServiceResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPriceValue_InputMessage">
    <wsdl:part name="parameters" element="tns:getPriceValue" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPriceValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPriceValueResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPriceServiceValue_InputMessage">
    <wsdl:part name="parameters" element="tns:getPriceServiceValue" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPriceServiceValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPriceServiceValueResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_calPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:calPrice" />
  </wsdl:message>
  <wsdl:message name="ISGPService_calPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:calPriceResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getUserTrackingProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserTrackingProfile" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getUserTrackingProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserTrackingProfileResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_ToolTracking_InputMessage">
    <wsdl:part name="parameters" element="tns:ToolTracking" />
  </wsdl:message>
  <wsdl:message name="ISGPService_ToolTracking_OutputMessage">
    <wsdl:part name="parameters" element="tns:ToolTrackingResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getMailer_InputMessage">
    <wsdl:part name="parameters" element="tns:getMailer" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getMailer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMailerResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getDisitrct_InputMessage">
    <wsdl:part name="parameters" element="tns:getDisitrct" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getDisitrct_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDisitrctResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_ChiPhi_InputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_ChiPhi" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_ChiPhi_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_ChiPhiResponse" />
  </wsdl:message>
  <wsdl:portType name="ISGPService">
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/login" message="tns:ISGPService_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/loginResponse" message="tns:ISGPService_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getmaxMailerID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getmaxMailerID" message="tns:ISGPService_getmaxMailerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getmaxMailerIDResponse" message="tns:ISGPService_getmaxMailerID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProvince">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getProvince" message="tns:ISGPService_getProvince_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getProvinceResponse" message="tns:ISGPService_getProvince_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Province_Zones">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Province_Zones" message="tns:ISGPService_insertSGP_Province_Zones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Province_ZonesResponse" message="tns:ISGPService_insertSGP_Province_Zones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getServiceType">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getServiceType" message="tns:ISGPService_getServiceType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getServiceTypeResponse" message="tns:ISGPService_getServiceType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getCustomer" message="tns:ISGPService_getCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getCustomerResponse" message="tns:ISGPService_getCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getZoneList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getZoneList" message="tns:ISGPService_getZoneList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getZoneListResponse" message="tns:ISGPService_getZoneList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getmaxZone">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getmaxZone" message="tns:ISGPService_getmaxZone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getmaxZoneResponse" message="tns:ISGPService_getmaxZone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Price_Policy">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Price_Policy" message="tns:ISGPService_insertSGP_Price_Policy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Price_PolicyResponse" message="tns:ISGPService_insertSGP_Price_Policy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Price_Customer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Price_Customer" message="tns:ISGPService_insertSGP_Price_Customer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Price_CustomerResponse" message="tns:ISGPService_insertSGP_Price_Customer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Price_Service">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Price_Service" message="tns:ISGPService_insertSGP_Price_Service_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Price_ServiceResponse" message="tns:ISGPService_insertSGP_Price_Service_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Price_Value">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Price_Value" message="tns:ISGPService_insertSGP_Price_Value_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Price_ValueResponse" message="tns:ISGPService_insertSGP_Price_Value_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPricePolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getPricePolicy" message="tns:ISGPService_getPricePolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getPricePolicyResponse" message="tns:ISGPService_getPricePolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPriceCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getPriceCustomer" message="tns:ISGPService_getPriceCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getPriceCustomerResponse" message="tns:ISGPService_getPriceCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPriceService">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getPriceService" message="tns:ISGPService_getPriceService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getPriceServiceResponse" message="tns:ISGPService_getPriceService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPriceValue">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getPriceValue" message="tns:ISGPService_getPriceValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getPriceValueResponse" message="tns:ISGPService_getPriceValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPriceServiceValue">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getPriceServiceValue" message="tns:ISGPService_getPriceServiceValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getPriceServiceValueResponse" message="tns:ISGPService_getPriceServiceValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="calPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/calPrice" message="tns:ISGPService_calPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/calPriceResponse" message="tns:ISGPService_calPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserTrackingProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getUserTrackingProfile" message="tns:ISGPService_getUserTrackingProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getUserTrackingProfileResponse" message="tns:ISGPService_getUserTrackingProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ToolTracking">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/ToolTracking" message="tns:ISGPService_ToolTracking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/ToolTrackingResponse" message="tns:ISGPService_ToolTracking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMailer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getMailer" message="tns:ISGPService_getMailer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getMailerResponse" message="tns:ISGPService_getMailer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDisitrct">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getDisitrct" message="tns:ISGPService_getDisitrct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getDisitrctResponse" message="tns:ISGPService_getDisitrct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertSGP_ChiPhi">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/insertSGP_ChiPhi" message="tns:ISGPService_insertSGP_ChiPhi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/insertSGP_ChiPhiResponse" message="tns:ISGPService_insertSGP_ChiPhi_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISGPService" type="tns:ISGPService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/ISGPService/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getmaxMailerID">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getmaxMailerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProvince">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getProvince" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Province_Zones">
      <soap:operation soapAction="http://tempuri.org/ISGPService/insertSGP_Province_Zones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceType">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getServiceType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomer">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getZoneList">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getZoneList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getmaxZone">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getmaxZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Price_Policy">
      <soap:operation soapAction="http://tempuri.org/ISGPService/insertSGP_Price_Policy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Price_Customer">
      <soap:operation soapAction="http://tempuri.org/ISGPService/insertSGP_Price_Customer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Price_Service">
      <soap:operation soapAction="http://tempuri.org/ISGPService/insertSGP_Price_Service" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Price_Value">
      <soap:operation soapAction="http://tempuri.org/ISGPService/insertSGP_Price_Value" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPricePolicy">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getPricePolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPriceCustomer">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getPriceCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPriceService">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getPriceService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPriceValue">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getPriceValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPriceServiceValue">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getPriceServiceValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calPrice">
      <soap:operation soapAction="http://tempuri.org/ISGPService/calPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserTrackingProfile">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getUserTrackingProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToolTracking">
      <soap:operation soapAction="http://tempuri.org/ISGPService/ToolTracking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMailer">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getMailer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDisitrct">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getDisitrct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertSGP_ChiPhi">
      <soap:operation soapAction="http://tempuri.org/ISGPService/insertSGP_ChiPhi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SGPService">
    <wsdl:port name="BasicHttpBinding_ISGPService" binding="tns:BasicHttpBinding_ISGPService">
      <soap:address location="http://localhost:4351/SGPService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>