PrintCG1_24062016_05(3)/PrintCG1_24062016_05/PrintCG_24062016/Service References/SGPService/SGPService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SGPWebService.DataClass" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SGPWebService.DataClass" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfZoneList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZoneList" nillable="true" type="tns:ZoneList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZoneList" nillable="true" type="tns:ArrayOfZoneList" />
  <xs:complexType name="ZoneList">
    <xs:sequence>
      <xs:element minOccurs="0" name="ZoneID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZoneList" nillable="true" type="tns:ZoneList" />
  <xs:complexType name="ArrayOfPriceList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PriceList" nillable="true" type="tns:PriceList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPriceList" nillable="true" type="tns:ArrayOfPriceList" />
  <xs:complexType name="PriceList">
    <xs:sequence>
      <xs:element minOccurs="0" name="PPHK" type="xs:float" />
      <xs:element minOccurs="0" name="PPXD" type="xs:float" />
      <xs:element minOccurs="0" name="Price" type="xs:float" />
      <xs:element minOccurs="0" name="PriceService" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceList" nillable="true" type="tns:PriceList" />
  <xs:complexType name="ArrayOfTrackings">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Trackings" nillable="true" type="tns:Trackings" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrackings" nillable="true" type="tns:ArrayOfTrackings" />
  <xs:complexType name="Trackings">
    <xs:sequence>
      <xs:element minOccurs="0" name="BS_Employees_EmployeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BS_Employees_EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_MailerDeliveryDetail_ConfirmDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MM_MailerDeliveryDetail_ConfirmIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_MailerDeliveryDetail_DeliveryDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MM_MailerDeliveryDetail_DeliveryNotes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_MailerDeliveryDetail_DeliveryStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_MailerDeliveryDetail_DeliveryTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MM_MailerDeliveryDetail_DeliveryTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_MailerDeliveryDetail_Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_MailerDelivery_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_MailerDelivery_DocumentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MM_MailerDelivery_DocumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_MailerDelivery_DocumentTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MM_MailerDelivery_PostOfficeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_MailerDelivery_TripNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_Mailers_AcceptDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MM_Mailers_Amount" type="xs:double" />
      <xs:element minOccurs="0" name="MM_Mailers_BefVATAmount" type="xs:double" />
      <xs:element minOccurs="0" name="MM_Mailers_CurrentPostOfficeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_Mailers_MailerDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_Mailers_MailerTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_Mailers_PostOfficeAcceptID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_Mailers_Quantity" type="xs:double" />
      <xs:element minOccurs="0" name="MM_Mailers_RecieverAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_Mailers_RecieverProvinceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_Mailers_SalesClosingDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MM_Mailers_SenderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_Mailers_SenderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_Mailers_ServiceTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_Mailers_ThirdpartyDocID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_Mailers_Weight" type="xs:double" />
      <xs:element minOccurs="0" name="MM_PackingListInternal_UserGroupSend" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_ReturnReason_ReturnReasonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_Status_StatusID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_Status_StatusName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trackings" nillable="true" type="tns:Trackings" />
  <xs:complexType name="ArrayOfMailerPPNT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MailerPPNT" nillable="true" type="tns:MailerPPNT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMailerPPNT" nillable="true" type="tns:ArrayOfMailerPPNT" />
  <xs:complexType name="MailerPPNT">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcceptDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CPNT" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostOfficeAcceptID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PriceService" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProvinceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MailerPPNT" nillable="true" type="tns:MailerPPNT" />
  <xs:complexType name="ArrayOfDistrict">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="District" nillable="true" type="tns:District" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistrict" nillable="true" type="tns:ArrayOfDistrict" />
  <xs:complexType name="District">
    <xs:sequence>
      <xs:element minOccurs="0" name="DistrictID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="District" nillable="true" type="tns:District" />
  <xs:complexType name="ArrayOfSpecialCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpecialCustomer" nillable="true" type="tns:SpecialCustomer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecialCustomer" nillable="true" type="tns:ArrayOfSpecialCustomer" />
  <xs:complexType name="SpecialCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CGNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShiptoAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoChungTuLienQuan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoChungTuThuVe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Staff" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecialCustomer" nillable="true" type="tns:SpecialCustomer" />
  <xs:complexType name="ArrayOfSpCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpCustomer" nillable="true" type="tns:SpCustomer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpCustomer" nillable="true" type="tns:ArrayOfSpCustomer" />
  <xs:complexType name="SpCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpCustomer" nillable="true" type="tns:SpCustomer" />
  <xs:complexType name="ArrayOfHoaDon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HoaDon" nillable="true" type="tns:HoaDon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHoaDon" nillable="true" type="tns:ArrayOfHoaDon" />
  <xs:complexType name="HoaDon">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="SoCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoHD" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HoaDon" nillable="true" type="tns:HoaDon" />
  <xs:complexType name="ArrayOfChiTietHoaDon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChiTietHoaDon" nillable="true" type="tns:ChiTietHoaDon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChiTietHoaDon" nillable="true" type="tns:ArrayOfChiTietHoaDon" />
  <xs:complexType name="ChiTietHoaDon">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CuocDV" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="SoCG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenHangHoa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VAT" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChiTietHoaDon" nillable="true" type="tns:ChiTietHoaDon" />
  <xs:complexType name="ArrayOfCustomers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customers" nillable="true" type="tns:Customers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomers" nillable="true" type="tns:ArrayOfCustomers" />
  <xs:complexType name="Customers">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customers" nillable="true" type="tns:Customers" />
  <xs:complexType name="ArrayOfCustomerGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerGroup" nillable="true" type="tns:CustomerGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerGroup" nillable="true" type="tns:ArrayOfCustomerGroup" />
  <xs:complexType name="CustomerGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Taxcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerGroup" nillable="true" type="tns:CustomerGroup" />
</xs:schema>