PrintCG1_24062016_05(3)/PrintCG1_24062016_05/PrintCG_24062016/Service References/SGPService/SGPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SGPService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4351/SGPService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4351/SGPService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4351/SGPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGPWebService.DB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISGPService_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="ISGPService_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getmaxMailerID_InputMessage">
    <wsdl:part name="parameters" element="tns:getmaxMailerID" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getmaxMailerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getmaxMailerIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getProvince_InputMessage">
    <wsdl:part name="parameters" element="tns:getProvince" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getProvince_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProvinceResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Province_Zones_InputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Province_Zones" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Province_Zones_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Province_ZonesResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getServiceType_InputMessage">
    <wsdl:part name="parameters" element="tns:getServiceType" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getServiceType_OutputMessage">
    <wsdl:part name="parameters" element="tns:getServiceTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:getCustomer" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="ISGPService">
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/login" message="tns:ISGPService_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/loginResponse" message="tns:ISGPService_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getmaxMailerID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getmaxMailerID" message="tns:ISGPService_getmaxMailerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getmaxMailerIDResponse" message="tns:ISGPService_getmaxMailerID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProvince">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getProvince" message="tns:ISGPService_getProvince_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getProvinceResponse" message="tns:ISGPService_getProvince_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Province_Zones">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Province_Zones" message="tns:ISGPService_insertSGP_Province_Zones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Province_ZonesResponse" message="tns:ISGPService_insertSGP_Province_Zones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getServiceType">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getServiceType" message="tns:ISGPService_getServiceType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getServiceTypeResponse" message="tns:ISGPService_getServiceType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getCustomer" message="tns:ISGPService_getCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getCustomerResponse" message="tns:ISGPService_getCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISGPService" type="tns:ISGPService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/ISGPService/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getmaxMailerID">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getmaxMailerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProvince">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getProvince" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Province_Zones">
      <soap:operation soapAction="http://tempuri.org/ISGPService/insertSGP_Province_Zones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceType">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getServiceType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomer">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SGPService">
    <wsdl:port name="BasicHttpBinding_ISGPService" binding="tns:BasicHttpBinding_ISGPService">
      <soap:address location="http://localhost:4351/SGPService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>