PrintCG1_24062016_05(3)/PrintCG1_24062016_05/PrintCG_24062016/Service References/SGPService/SGPService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SGPWebService.DB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SGPWebService.DB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBS_Province">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BS_Province" nillable="true" type="tns:BS_Province" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBS_Province" nillable="true" type="tns:ArrayOfBS_Province" />
  <xs:complexType name="BS_Province">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PhoneCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BS_Province" nillable="true" type="tns:BS_Province" />
  <xs:complexType name="ArrayOfMM_ServiceType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MM_ServiceType" nillable="true" type="tns:MM_ServiceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMM_ServiceType" nillable="true" type="tns:ArrayOfMM_ServiceType" />
  <xs:complexType name="MM_ServiceType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DisplayColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutsideLine" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PriceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MM_ServiceType" nillable="true" type="tns:MM_ServiceType" />
  <xs:complexType name="ArrayOfMM_Customer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MM_Customer" nillable="true" type="tns:MM_Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMM_Customer" nillable="true" type="tns:ArrayOfMM_Customer" />
  <xs:complexType name="MM_Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerGroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DebitObjectID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebtDayInMonth" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="DistrictID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MemberOf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonalInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostOfficeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MM_Customer" nillable="true" type="tns:MM_Customer" />
  <xs:complexType name="ArrayOfSGP_Price_Policy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SGP_Price_Policy" nillable="true" type="tns:SGP_Price_Policy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSGP_Price_Policy" nillable="true" type="tns:ArrayOfSGP_Price_Policy" />
  <xs:complexType name="SGP_Price_Policy">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostOfficeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PricePolicyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Service" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SGP_Price_Policy" nillable="true" type="tns:SGP_Price_Policy" />
  <xs:complexType name="ArrayOfSGP_Price_Customer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SGP_Price_Customer" nillable="true" type="tns:SGP_Price_Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSGP_Price_Customer" nillable="true" type="tns:ArrayOfSGP_Price_Customer" />
  <xs:complexType name="SGP_Price_Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SGP_Price_Customer" nillable="true" type="tns:SGP_Price_Customer" />
  <xs:complexType name="ArrayOfSGP_Price_Service">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SGP_Price_Service" nillable="true" type="tns:SGP_Price_Service" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSGP_Price_Service" nillable="true" type="tns:ArrayOfSGP_Price_Service" />
  <xs:complexType name="SGP_Price_Service">
    <xs:sequence>
      <xs:element minOccurs="0" name="PriceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SGP_Price_Service" nillable="true" type="tns:SGP_Price_Service" />
  <xs:complexType name="ArrayOfSGP_Price_Value">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SGP_Price_Value" nillable="true" type="tns:SGP_Price_Value" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSGP_Price_Value" nillable="true" type="tns:ArrayOfSGP_Price_Value" />
  <xs:complexType name="SGP_Price_Value">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColumnIndex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FW" type="xs:double" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="PriceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowIndex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TW" type="xs:double" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Zone" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SGP_Price_Value" nillable="true" type="tns:SGP_Price_Value" />
</xs:schema>