PrintCG1_24062016_05(3)/PrintCG1_24062016_05/PrintCG_24062016/Service References/BaoCaoSLMsYen/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://pms.sgp.vn/BCThang/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://pms.sgp.vn/BCThang/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://pms.sgp.vn/BCThang/Service1.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_baocaotuan_InputMessage">
    <wsdl:part name="parameters" element="tns:baocaotuan" />
  </wsdl:message>
  <wsdl:message name="IService1_baocaotuan_OutputMessage">
    <wsdl:part name="parameters" element="tns:baocaotuanResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_baocaotuanDT_InputMessage">
    <wsdl:part name="parameters" element="tns:baocaotuanDT" />
  </wsdl:message>
  <wsdl:message name="IService1_baocaotuanDT_OutputMessage">
    <wsdl:part name="parameters" element="tns:baocaotuanDTResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_baocaotuantong_InputMessage">
    <wsdl:part name="parameters" element="tns:baocaotuantong" />
  </wsdl:message>
  <wsdl:message name="IService1_baocaotuantong_OutputMessage">
    <wsdl:part name="parameters" element="tns:baocaotuantongResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_baocaotuantongDT_InputMessage">
    <wsdl:part name="parameters" element="tns:baocaotuantongDT" />
  </wsdl:message>
  <wsdl:message name="IService1_baocaotuantongDT_OutputMessage">
    <wsdl:part name="parameters" element="tns:baocaotuantongDTResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_baocaothangctv_InputMessage">
    <wsdl:part name="parameters" element="tns:baocaothangctv" />
  </wsdl:message>
  <wsdl:message name="IService1_baocaothangctv_OutputMessage">
    <wsdl:part name="parameters" element="tns:baocaothangctvResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_baocaothangctvDT_InputMessage">
    <wsdl:part name="parameters" element="tns:baocaothangctvDT" />
  </wsdl:message>
  <wsdl:message name="IService1_baocaothangctvDT_OutputMessage">
    <wsdl:part name="parameters" element="tns:baocaothangctvDTResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_baocaothang_InputMessage">
    <wsdl:part name="parameters" element="tns:baocaothang" />
  </wsdl:message>
  <wsdl:message name="IService1_baocaothang_OutputMessage">
    <wsdl:part name="parameters" element="tns:baocaothangResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_baocaothangDT_InputMessage">
    <wsdl:part name="parameters" element="tns:baocaothangDT" />
  </wsdl:message>
  <wsdl:message name="IService1_baocaothangDT_OutputMessage">
    <wsdl:part name="parameters" element="tns:baocaothangDTResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_baocaotuantongctv_InputMessage">
    <wsdl:part name="parameters" element="tns:baocaotuantongctv" />
  </wsdl:message>
  <wsdl:message name="IService1_baocaotuantongctv_OutputMessage">
    <wsdl:part name="parameters" element="tns:baocaotuantongctvResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_baocaotuantongctvDT_InputMessage">
    <wsdl:part name="parameters" element="tns:baocaotuantongctvDT" />
  </wsdl:message>
  <wsdl:message name="IService1_baocaotuantongctvDT_OutputMessage">
    <wsdl:part name="parameters" element="tns:baocaotuantongctvDTResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_connectionString_InputMessage">
    <wsdl:part name="parameters" element="tns:connectionString" />
  </wsdl:message>
  <wsdl:message name="IService1_connectionString_OutputMessage">
    <wsdl:part name="parameters" element="tns:connectionStringResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="baocaotuan">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/baocaotuan" message="tns:IService1_baocaotuan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/baocaotuanResponse" message="tns:IService1_baocaotuan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="baocaotuanDT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/baocaotuanDT" message="tns:IService1_baocaotuanDT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/baocaotuanDTResponse" message="tns:IService1_baocaotuanDT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="baocaotuantong">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/baocaotuantong" message="tns:IService1_baocaotuantong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/baocaotuantongResponse" message="tns:IService1_baocaotuantong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="baocaotuantongDT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/baocaotuantongDT" message="tns:IService1_baocaotuantongDT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/baocaotuantongDTResponse" message="tns:IService1_baocaotuantongDT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="baocaothangctv">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/baocaothangctv" message="tns:IService1_baocaothangctv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/baocaothangctvResponse" message="tns:IService1_baocaothangctv_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="baocaothangctvDT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/baocaothangctvDT" message="tns:IService1_baocaothangctvDT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/baocaothangctvDTResponse" message="tns:IService1_baocaothangctvDT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="baocaothang">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/baocaothang" message="tns:IService1_baocaothang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/baocaothangResponse" message="tns:IService1_baocaothang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="baocaothangDT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/baocaothangDT" message="tns:IService1_baocaothangDT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/baocaothangDTResponse" message="tns:IService1_baocaothangDT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="baocaotuantongctv">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/baocaotuantongctv" message="tns:IService1_baocaotuantongctv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/baocaotuantongctvResponse" message="tns:IService1_baocaotuantongctv_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="baocaotuantongctvDT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/baocaotuantongctvDT" message="tns:IService1_baocaotuantongctvDT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/baocaotuantongctvDTResponse" message="tns:IService1_baocaotuantongctvDT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="connectionString">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/connectionString" message="tns:IService1_connectionString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/connectionStringResponse" message="tns:IService1_connectionString_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="baocaotuan">
      <soap:operation soapAction="http://tempuri.org/IService1/baocaotuan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="baocaotuanDT">
      <soap:operation soapAction="http://tempuri.org/IService1/baocaotuanDT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="baocaotuantong">
      <soap:operation soapAction="http://tempuri.org/IService1/baocaotuantong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="baocaotuantongDT">
      <soap:operation soapAction="http://tempuri.org/IService1/baocaotuantongDT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="baocaothangctv">
      <soap:operation soapAction="http://tempuri.org/IService1/baocaothangctv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="baocaothangctvDT">
      <soap:operation soapAction="http://tempuri.org/IService1/baocaothangctvDT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="baocaothang">
      <soap:operation soapAction="http://tempuri.org/IService1/baocaothang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="baocaothangDT">
      <soap:operation soapAction="http://tempuri.org/IService1/baocaothangDT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="baocaotuantongctv">
      <soap:operation soapAction="http://tempuri.org/IService1/baocaotuantongctv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="baocaotuantongctvDT">
      <soap:operation soapAction="http://tempuri.org/IService1/baocaotuantongctvDT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="connectionString">
      <soap:operation soapAction="http://tempuri.org/IService1/connectionString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://pms.sgp.vn/BCThang/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>