PrintCG1_24062016_05(3)/PrintCG1_24062016_05/PrintCG_24062016/Service References/BaoCaoSLMsYen/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="baocaotuan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postoffice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="todate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="baocaotuanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baocaotuanResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="baocaotuanDT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postoffice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="todate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="baocaotuanDTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baocaotuanDTResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="baocaotuantong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postoffice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="todate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="baocaotuantongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baocaotuantongResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="baocaotuantongDT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postoffice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="todate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="baocaotuantongDTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baocaotuantongDTResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="baocaothangctv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="todate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="baocaothangctvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baocaothangctvResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="baocaothangctvDT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="todate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="baocaothangctvDTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baocaothangctvDTResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="baocaothang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postoffice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="todate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="baocaothangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baocaothangResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="baocaothangDT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postoffice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="todate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="baocaothangDTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baocaothangDTResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="baocaotuantongctv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="todate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="baocaotuantongctvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baocaotuantongctvResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="baocaotuantongctvDT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="todate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="baocaotuantongctvDTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baocaotuantongctvDTResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="connectionString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="check" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="connectionStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>